extends layout

block content
  h1 Ted Lasso Intro Generator

  audio(src="/images/music.mp3")

  mixin section(t)
    .section
      for i, r in rows
        .row
          for i, c in cols
            .chair(class=on(t, r, c))
              .overflow

  #body-parent
    #body
      #go
        input#text(type=text value="TED!")
        button Play!
      for l in [0,1,2]
        .line
          for t in out
            +section((l === 1 ? t : ''))
